/**
* Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
* http://cssreset.com
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
textarea,
select,
input,
button {
  padding: 0;
  margin: 0;
  border: none;
}
textarea:focus,
select:focus,
input:focus,
button:focus {
  outline: 0;
}
textarea {
  resize: vertical;
}
/**
*
* Variables by moduls
* Changing values in this file or from main style file
*
**/
body {
  color: #333333;
}
/******************************************/
.formFont {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1em;
}
.formInput {
  font-size: 120%;
  background: #ffffff;
  color: #444444;
  border: 1px solid #ccc;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
}
.formInputFocus {
  color: #111111;
  border-color: #999999;
}
.formInputHover {
  color: #2b2b2b;
  border-color: #b3b3b3;
}
.formInputActive {
  color: #2b2b2b;
  border-color: #b3b3b3;
}
.formButtonHover {
  color: #ffffff;
  border-color: #b3b3b3;
}
::selection {
  background: #ff0;
  color: #333333;
}
/******************************************/
/******************************************/
/******************************************/
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin-bottom: 3.5px;
}
h6 {
  font-size: 166.66666667%;
}
h5 {
  font-size: 180%;
}
h4 {
  font-size: 200%;
}
h3 {
  font-size: 233.33333333%;
}
h2 {
  font-size: 300%;
}
h1 {
  font-size: 500%;
}
a {
  text-decoration: none;
  color: #4097cf;
}
a:hover {
  color: #225f87;
}
a:active {
  color: #18435e;
}
input,
select,
textarea,
button {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1em;
}
blockquote {
  display: block;
}
p {
  line-height: 1.4em;
}
input,
select,
textarea,
button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  color: #111111;
  border-color: #999999;
}
input:hover,
select:hover,
textarea:hover,
button:hover {
  color: #2b2b2b;
  border-color: #b3b3b3;
}
button {
  color: #ffffff;
  background: #444444;
}
button:active {
  color: #2b2b2b;
  border-color: #b3b3b3;
}
button:hover,
button:focus {
  color: #ffffff;
  border-color: #b3b3b3;
}
input,
textarea,
select {
  font-size: 120%;
  background: #ffffff;
  color: #444444;
  border: 1px solid #ccc;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
}
select {
  padding: 1px 4px;
}
input,
textarea {
  padding: 2px 4px;
}
input,
select {
  min-height: 25px;
}
input[type='file'] {
  padding: 0;
  border: none;
}
label,
button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
label.checkbox,
label .radio {
  color: #777;
  cursor: pointer;
}
label.checkbox:hover,
label .radio:hover {
  color: #555;
}
label.checkbox:active,
label .radio:active {
  color: #444;
}
button,
.button {
  padding: 4px 12px;
  padding-top: 5px;
  cursor: pointer;
}
.button {
  padding: 0 7px;
  height: 27px;
  display: inline-block;
  box-sizing: border-box;
  line-height: 26px;
}
.input-file-wrapper {
  display: inline-block;
  width: 30px;
}
.input-file-wrapper input {
  margin-left: -145px;
  opacity: 0;
}
.action-upload {
  z-index: 1000;
  position: absolute;
}
.nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav a,
.nav .text {
  display: block;
  padding: 6px 8px;
}
.nav a [class*='icon-'] {
  margin-right: 4px;
}
.nav-h li {
  display: inline-block;
}
.nav-v li {
  display: block;
}
.navbar .container {
  padding-top: 4px;
  padding-bottom: 4px;
}
.navbar .row {
  min-height: 29px;
}
.row,
.col {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
}
.row:before,
.row:after {
  display: table;
  line-height: 0;
  content: "";
}
.row:after {
  clear: both;
}
.col {
  float: left;
  padding: 0 5px;
}
.p-center {
  float: none;
  margin: 0 auto;
}
.p-left {
  float: left;
}
.p-right {
  float: right;
}
.p-text-center {
  text-align: center;
}
.p-text-left {
  text-align: left;
}
.p-text-right {
  text-align: right;
}
.container {
  padding: 10px;
}
.col-12 {
  width: 100%;
}
.col-11 {
  width: 91.66666667%;
}
.col-10 {
  width: 83.33333333%;
}
.col-9 {
  width: 75%;
}
.col-8 {
  width: 66.66666667%;
}
.col-7 {
  width: 58.33333333%;
}
.col-6 {
  width: 50%;
}
.col-5 {
  width: 41.66666667%;
}
.col-4 {
  width: 33.33333333%;
}
.col-3 {
  width: 25%;
}
.col-2 {
  width: 16.66666667%;
}
.col-1 {
  width: 8.33333333%;
}
@media only screen and (min-width: 1201px) {
  .v-xlarge-hidden {
    display: none !important;
  }
  .v-xlarge-visible {
    display: block;
  }
  .c-xlarge-760px {
    width: 760px;
  }
}
@media only screen and (min-width: 981px) and (max-width: 1200px) {
  .v-large-hidden {
    display: none !important;
  }
  .v-large-visible {
    display: block;
  }
  .c-large-760px {
    width: 760px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 980px) {
  .v-medium-hidden {
    display: none !important;
  }
  .v-medium-visible {
    display: block;
  }
  .c-medium-760px {
    width: 760px;
  }
  .c-medium-100 {
    width: 100%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .v-small-hidden {
    display: none !important;
  }
  .v-small-visible {
    display: block;
  }
  .c-small-100 {
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .v-mini-hidden {
    display: none !important;
  }
  .v-mini-visible {
    display: block;
  }
  .c-mini-100 {
    width: 100%;
  }
}
.v-all-hidden {
  display: none !important;
}
.v-all-visible {
  display: block;
}
.c-all-100 {
  width: 100%;
}
@font-face {
  font-family: "BLOKKRegular";
  src: url("../fonts/BLOKKRegular.eot");
  src: url('../fonts/BLOKKRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/BLOKKRegular.woff') format('woff'), url('../fonts/BLOKKRegular.svg#../fonts/BLOKKRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*@columnPadding: 5px 5px;
.row {
	.col {
		border: 1px solid #ddd;
		text-align: center;
	}
}*/
.cb {
  padding: 40px;
}
.test.etc-block {
  margin-left: 40px;
  margin-top: 40px;
  width: 200px;
  height: 300px;
}
body {
  font-size: 100%;
  background: #eee;
}
body.s-lorem {
  font-family: 'BLOKKRegular';
  font-size: 100%;
}
body.s-lorem h1,
body.s-lorem h2,
body.s-lorem h3,
body.s-lorem h4,
body.s-lorem h5,
body.s-lorem h6 {
  font-family: 'BLOKKRegular';
}
.defBlockActive {
  outline-color: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
}
/*
* .c-*         element horizontal size from current @media
* .v-*         element visibility from current @media
* .s-*         element state(active/disabled/hover/focus,err,ready/open & etc.)
* .col-*       element grid column by horizontal size
* .row         element grid row
*/
/*
* .etc-active  core class selector for know what etc now enabled and active
* .etc-block   selector for all etc-blocks
* .etc-accent  selector for accent to etc-block
* .etc-dropzone selector for file uploader dropzone
*/
html,
body {
  height: 100%;
}
html body {
  opacity: 0;
  -webkit-transition: opacity 0.2s, linear;
  -moz-transition: opacity 0.2s, linear;
  -o-transition: opacity 0.2s, linear;
  transition: opacity 0.2s, linear;
}
html.wf-active body {
  opacity: 1;
}
.etc-block {
  outline: 1px solid rgba(255, 255, 255, 0);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.2s, linear;
  -moz-transition: all 0.2s, linear;
  -o-transition: all 0.2s, linear;
  transition: all 0.2s, linear;
}
.etc-col,
.etc-row,
.etc-container {
  text-align: center;
}
.etc-row {
  text-align: left;
}
.etc-active .etc-block {
  outline-color: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
}
.etc-active.s-show-grid .etc-button-block {
  display: inline-block;
}
.etc-active.s-show-grid .etc-col,
.etc-active.s-show-grid .etc-row,
.etc-active.s-show-grid .etc-container {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: dashed;
}
.etc-active.s-show-grid .etc-col:empty,
.etc-active.s-show-grid .etc-row:empty,
.etc-active.s-show-grid .etc-container:empty {
  padding: 20px;
}
.etc-active.s-show-grid .etc-col.s-toremove,
.etc-active.s-show-grid .etc-row.s-toremove,
.etc-active.s-show-grid .etc-container.s-toremove {
  background-color: none;
  -webkit-background-size: 5px 3px;
  -moz-background-size: 5px 3px;
  background-size: 5px 3px;
  background-image: 8121991;
  background-image: -webkit-linear-gradient(46deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(46deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(46deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 75%, transparent 75%, transparent);
  background-image: linear-gradient(44deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 75%, transparent 75%, transparent);
}
.etc-active.s-show-grid .etc-row {
  border-bottom-width: 1px;
}
.etc-active.s-show-grid .etc-col {
  border-right-width: 1px;
  /*min-height: 30px;
							line-height: 30px;*/
  min-height: 30px;
}
.etc-active.s-show-grid .etc-col:last-child {
  border-right-width: none;
}
.etc-active.s-show-grid .etc-col:empty {
  padding: 15px;
}
.etc-active.s-show-grid .page-layout {
  padding-bottom: 20px;
}
.etc-toolbar {
  -webkit-transition: all 0.2s, linear;
  -moz-transition: all 0.2s, linear;
  -o-transition: all 0.2s, linear;
  transition: all 0.2s, linear;
}
.etc-toolbar-switch {
  z-index: 10000;
  position: fixed;
  bottom: 0;
  right: 0;
}
.etc-toolbar-switch .etc-button {
  padding: 8px 10px;
  padding-bottom: 6px;
  font-size: 24px;
  background: #f1e05a;
  color: #222;
}
.etc-toolbar-switch .etc-button-dropdown {
  background: #dadad7;
}
.etc-toolbar-switch .etc-button-dropdown-menu {
  background: #dadad7;
}
.etc-button-block {
  display: none;
  position: relative;
  background: #404040;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-top: 0;
  margin-left: 0;
  margin: 5px;
  margin-bottom: 5px -1;
  padding: 0;
  width: 20px;
  height: 19px;
  cursor: pointer;
  -webkit-transition: all 0.3s, linear;
  -moz-transition: all 0.3s, linear;
  -o-transition: all 0.3s, linear;
  transition: all 0.3s, linear;
}
.etc-button-block.s-active {
  width: auto;
  height: auto;
}
.etc-button-block.s-active .etc-button-block-toolbar {
  display: block;
}
.etc-button-block:hover,
.etc-button-block.s-open,
.etc-button-block.s-active {
  -webkit-box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.15);
  margin-top: 3px -1;
  margin-left: 3px;
}
.etc-button-block.s-active {
  backgroud: #000;
  overflow-y: hidden;
}
.etc-button-icon,
.etc-button-dropdown,
.etc-button-toggle {
  font-size: 14px;
  padding: 0.2em 0.3em;
  line-height: 1em;
  text-align: center;
}
.etc-button-dropdown-toggle {
  margin-left: 4px;
  margin-top: -2px;
}
.etc-button-dropdown-menu {
  -webkit-transition: all 0.2s, linear;
  -moz-transition: all 0.2s, linear;
  -o-transition: all 0.2s, linear;
  transition: all 0.2s, linear;
  display: none;
  position: fixed;
  left: 0;
  right: 0;
}
.etc-button-toggle:before {
  opacity: 0.5;
  -webkit-transition: opacity 0.2s, linear;
  -moz-transition: opacity 0.2s, linear;
  -o-transition: opacity 0.2s, linear;
  transition: opacity 0.2s, linear;
}
.etc-button-toggle.s-active:before {
  opacity: 1;
}
.etc-button-icon.etc-action-resize {
  position: relative;
  background: none;
  color: #333333;
  float: right;
  margin-top: 7px;
  padding: 1px 4px;
  margin-right: -8px;
}
.etc-dropzone {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  text-align: center;
  -webkit-transition: background 1s, linear;
  -moz-transition: background 1s, linear;
  -o-transition: background 1s, linear;
  transition: background 1s, linear;
}
.etc-dropzone:before {
  margin: 0 auto;
  position: absolute;
  display: block;
  left: 47%;
  top: 50%;
  font-size: 4em;
  opacity: 0;
}
.etc-dropzone.s-dragenter,
.etc-dropzone.s-drop {
  background: rgba(0, 0, 0, 0.5);
}
.etc-dropzone-body {
  margin: 0 auto;
  display: inline-block;
  text-align: left;
}
.etc-dropzone-body .etc-block {
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 4px;
  overflow: hidden;
  text-align: center;
  background: #fff;
  color: #777777;
  -webkit-border-radius: 1px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 1px;
  -moz-background-clip: padding;
  border-radius: 1px;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}
.etc-dropzone-body .etc-block .etc-progress {
  height: 3px;
}
.etc-dropzone-body .etc-block .etc-progress-bar {
  height: 100%;
  background: rgba(23, 94, 160, 0.5);
}
.etc-dropzone-body .etc-block-title {
  margin-top: 0.6em;
  font-weight: 100;
  text-transform: uppercase;
}
