@import "vendors/frame/css/frame/base.less";
@defFontFamily: 'Roboto', sans-serif;
@headerFontFamily: 'Roboto', sans-serif;

.defShowFx(@variable:opacity 0.2s){
	.transition(@variable);
}

h1{
	font-size: 120%;
	font-weight: 400;
}
html,body{
	height:100%;
}
html{
	body{
		opacity: 0;
		.defShowFx();
	}
	&.wf-active{
		body{
			opacity: 1;
		}
	}
}
.dragzone{
	.defShowFx(background 1s);
	&:before{
		margin: 0 auto;
		position: absolute;
		display: block;
		left:47%;
		top:50%;
		font-size:4em;
		opacity:0;
	}
	&.state-{
		&dragenter{
			background: #aaa;
			/*&:before{
				opacity: .4;
				.defShowFx(opacity 1s);
			}*/
		}
	}
}