@import "vendors/frame/base";
@import "vendors/frame/test";

@defFontFamily: 'Roboto', sans-serif;
@headerFontFamily: 'Roboto', sans-serif;

@_prefix:etc;
@formDefColor:#222;
//@formDefBackground:#f1e05a;
@buttonDefBackground:#f1e05a;
@gridBackground:fade(spin(@buttonDefBackground,140),15);
@textSize:14px;

body{
}
.defBlockActive{
	outline-color: rgba(0,0,0,0.1);
	.box-shadow(4px 4px 0 rgba(0,0,0,0.2));
}
@defFxTime:0.2s;
.defShowFx(@variable:opacity @defFxTime){
	.transition(@variable);
}




//Prefix notation(frame framework)
/*
* .c-*         element horizontal size from current @media
* .v-*         element visibility from current @media
* .s-*         element state(active/disabled/hover/focus,err,ready/open & etc.)
* .col-*       element grid column by horizontal size
* .row         element grid row
*/

//etc notation
/*
* .etc-active  core class selector for know what etc now enabled and active
* .etc-block   selector for all etc-blocks
* .etc-accent  selector for accent to etc-block
* .etc-dropzone selector for file uploader dropzone
*/

html,body{
	height:100%;
}
html{
	body{
		opacity: 0;
		.defShowFx();
	}
	&.wf-active{
		body{
			opacity: 1;
		}
	}
}

.@{_prefix}{

	&-block{
		outline: 1px solid rgba(255,255,255,0);
		.box-sizing(border-box);
		.defShowFx(all @defFxTime);

	}
	&-active{
		.@{_prefix}{
			&-block{
				.defBlockActive;
			}
		}
		&.s{
			&-show{
				&-grid{
					.@{_prefix}{
						&-col,&-row,&-container{
							.defShowFx(all @defFxTime);
							outline:1px solid darken(@gridBackground,40);
							background: @gridBackground;
							&:empty{
								padding:0.5em;
							}
						}
					}
				}
			}
		}
	}
	&-accent{

	}
	&-toolbar{
		.defShowFx(all @defFxTime);
	}
	&-toolbar-switch{
		z-index: 10000;
		position: fixed;
		bottom:0;
		right:0;
	}
	&-button{
		font-size:1.5em;
		&-block{
			@lift:2px;
			background: @textColor;
			display: inline-block;
			.box-shadow(none);
			margin-top:0;
			margin-left:0;
			width:14px;
			height:14px;
			cursor:pointer;
			&-toolbar{
				display: none;
				color:#fff;

			}
			&.s-active{
				width:auto;
				height:auto;
				position: absolute;
				.@{_prefix}-button-block-toolbar{
					display: block;
				}
			}
			&:hover,&.s-open,&.s-active{
				.box-shadow(@lift @lift 0 rgba(0,0,0,0.15));
				margin-top:-@lift;
				margin-left:-@lift;
				.defShowFx(all 0.3s);

			}
		}
		&-icon,&-dropdown{
			padding: 0.2em;
			line-height: 1em;
			text-align: center;
		}
		&-dropdown{
			@dropdownBackground:lighten(desaturate(@buttonDefBackground,80),20);
			//padding-top: 4px;
			background: @dropdownBackground;
			&-toggle{
				margin-left:4px;
				margin-top:-2px;
			}
			&-menu{
				.defShowFx(all @defFxTime);
				display: none;
				position: fixed;
				background: @dropdownBackground;
				left: 0;
				right: 0;
			}
		}
		&-toggle{
			&:before{
				opacity: 0.5;
				.defShowFx(opacity @defFxTime);
			}
			&.s{
				&-active{
					&:before{
						opacity: 1;
					}
				}
			}
		}
	}
	&-dropzone{
		position: fixed;
		top:0;
		bottom:0;
		left:0;
		right:0;
		display: none;
		text-align: center;
		.defShowFx(background 1s);
		&:before{
			margin: 0 auto;
			position: absolute;
			display: block;
			left:47%;
			top:50%;
			font-size:4em;
			opacity:0;
		}
		&.s{
			&-dragenter,&-drop{
				background: rgba(0,0,0,0.5);
			}
		}
		&-body{
			margin:0 auto;
			display: inline-block;
			text-align: left;
			//position: fixed;
			.@{_prefix}-block{
				display:inline-block;
				height:40px;
				width:40px;
				margin:4px;
				overflow: hidden;
				text-align: center;
				background: #fff;
				color:#777777;
				.border-radius(1px);
				.box-shadow(0 0 4px rgba(0,0,0,0.4));
				//text-shadow:0 1px 0 rgba(0,0,0,0.2);
				.@{_prefix}-progress{
					height:3px;
					&-bar{
						height:100%;
						background: rgba(23, 94, 160, 0.5);
					}
				}
				&-title{
					margin-top:0.6em;
					//color:#fff;
					font-weight: 100;
					text-transform: uppercase;
				}
			}
		}
	}
}

